<script type="text/javascript" src="../../__STATIC__/admin/hui/lib/jquery/1.9.1/jquery.min.js"></script>     
<script type="text/javascript" src="../../__STATIC__/admin/hui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../../__STATIC__/admin/hui/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../../__STATIC__/admin/hui/static/h-ui.admin/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="../../__STATIC__/admin/hui/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<!--日期时间插件js-->
<script type="text/javascript" src="../../__STATIC__/admin/hui/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<!--上传文件插件js-->
{load href="../../__STATIC__/admin/uploadify/jquery.uploadify.min.js" /}
<!--自定义公用js-->
{load href="../../__STATIC__/admin/js/common.js" /}
