<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 用户管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                                    <li><a data-href="{:url('User/userlist',['status'=>1])}" data-title="用户列表" href="javascript:void(0)">用户列表</a></li>
                                    <li><a data-href="{:url('User/userchart')}" data-title="用户图表" href="javascript:void(0)">用户图表</a></li>
                                </ul>
                        </dd>
	</dl>
</div>
</aside>
